<!DOCTYPE html>
<html>
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-83547950-4"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/style/main.css" />
    <script type="module" src="/script/main.js"></script>
</head>
<body>
    <div class="app-root">
        <a href="/sample">sample</a>
        <a href="/landing">landing</a>
        <a href="/landing/landing-sample-one">landing/sample</a>
        <a href="/landing/non-landing-subdirectory">landing/non-landing-subdirectory</a>
        <a href="/landing/non-landing-subdirectory/non-landing-in-landing-sample-one">landing/non-landing-subdirectory/non-landing-in-landing-sample-one</a>

        <a href="/non-landing-subdirectory">non-landing-subdirectory</a>
        <a href="/non-landing-subdirectory/non-landing-subdirectory-sample-one">non-landing-subdirectory/sample-one</a>
        <a href="/deedumdeelumdoo">dumdeedumdoo</a>
        <a href="Yesch">This is an arbitrary text.</a>
    </div>

    <div class="content"></div>
</body>
</html>