/*
 * Main
 */

:root {
    font-family: monospace; 
    box-sizing: border-box; 
    height: 100.1vh; 
}
*, 

::before, 
::after {
    box-sizing: inherit; 
    margin: 0; 
}

.app-root {
    white-space: pre-line; 
}

.app-root a:first-of-type {
    background-color: #0f0; 
}

.app-root a:nth-of-type(4) {
    /* background-color: #f0f;  */
}